<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeRadar - Learn More</title>
    <link rel="stylesheet" href="static/info.css">
</head>
<body>
    <header>
        <h1>CollegeRadar</h1>
    </header>
    <main>
        <a href="index.html" class="button">Home</a>
        <a href="match.html" class="button">Get Matched</a>
        <h2>Learn More About Colleges</h2>
        <p class="blurb">Explore detailed information about different colleges to help you make an informed decision.</p>

        <div class="nav-buttons">


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Input bar for user to enter a college name -->
        <div class="input-bar">
            <form form method="POST" action="" id="collegeForm">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.nameSearch.label(class="form-control-label") }}
                        {% if form.nameSearch.errors %}
                        {{ form.nameSearch(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nameSearch.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nameSearch(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>

        </div>
    </main>

</body>
</html>
