<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Landing Page</title>
    <link rel="stylesheet" href="../../frontend/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to College Radar</h1>
        <p class="description">The one stop shop for college admissions advice!</p>
        <div class="button-container">
            <button onclick="window.location.href=''">Functionality 1</button>
            <button onclick="window.location.href=''">Functionality 2</button>
        </div>
    </div>
</body>
</html>
