<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeRadar - Get Matched</title>
    <link rel="stylesheet" href="static/match.css">
</head>
<body>
    <header>
        <h1>CollegeRadar</h1>
    </header>
    
    <!-- <main> -->
        <a href="index.html" class="button">Home</a>
        <a href="info.html" class="button">Learn More</a>
        <h2>Find Your Perfect College Match</h2>
        <p class="blurb">Answer the following questions and let us help you find the best colleges that match your interests.</p>

        <form>
        <!-- Population Size -->
        <div class="category">
            <label for="population"><h3>Population Size</h3></label>

            <input type="radio" id="Small" name="population" value="Small"> 
            <label for="Small">Small</label>
            
            <input type="radio" id="Medium" name="population" value="Medium">
            <label for="Medium">Medium</label>
            
            <input type="radio" id="Large" name="population" value="large">
            <label for="Large">Large</label>
        </div>

        <!--Department -->
        <div class="category">
            <label for="Department"><h3 for="Department">Department</h3></label>

            <input type="radio" id="Med" name="Department" value="pre-med"> 
            <label for="Pre-Med">Pre-Med</label>
            
            <input type="radio" id="Pre-Law" name="Department" value="pre-law"> 
            <label for="Pre-Law">Pre-Law</label>
            
            <input type="radio" id="Engineering" name="Department" value="engineering"> 
            <label for="Engineering">Engineering</label>
            
            <input type="radio" id="Humanities" name="Department" value="humanities"> 
            <label for="Humanities">Humanities</label>
        
        </div>

        <!-- Environment -->
        <div class="category">
            <label for="Environment"><h3>Environment</h3></label>

            <input type="radio" id="City" name="environment" value="city"> 
            <label for="City">City</label>

            <input type="radio" id="Rural" name="environment" value="rural"> 
            <label for="Rural">Rural</label>
            
            <input type="radio" id="Suburban" name="environment" value="suburban"> 
            <label for="Suburban">Suburban</label>
        </div>

        <button>Match</button>

        <div class="nav-buttons">
        </div>
    
    </form>
    <!-- </main> -->
</body>
</html>
